Options +FollowSymLinks

# ✅ FORCE BROWSER TO READ JPG/PNG/SVG AS IMAGES

<IfModule mod_mime.c>
    AddType image/jpeg .jpg .jpeg
    AddType image/png .png
    AddType image/svg+xml .svg
</IfModule>
